# Python
__pycache__/
*.pyc
*.pyo
venv/
.venv/
env/
*.egg-info/

# PyInstaller
build/
dist/

# Velopack
build_system/Releases/
build_system/*.nupkg
build_system/RELEASES

# Logs e dados runtime
debug.log
*.log
cache.json
history.json
settings.json

# IDE
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

.sound_cache/